{% extends 'base/base.html' %}

{% block title %}Detail de la archive{% endblock %}

{% block content %}

<div class=" my-16 py-16 px-16">
    <h2 class="bg-blue-500 text-white p-4 font-bold text-4xl text-center ">
        {{ archive.titre }} par {{ archive.publicateur }}
    </h2>

    <p class="bg-gray-500 mt-2 p-3"> <span class="font-bold text-3xl">ecole :</span>  {{ archive.ecole }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">matiere :</span>  {{ archive.matiere }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">examen : </span> {{ archive.examen }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">pays :</span>  {{ archive.pays }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">niveau :</span>  {{ archive.niveau }}</p>
    
    <div class="bg-gray-500 flex">
        <p class=" rounded-lg p-3"> <span class="font-bold text-3xl"> fichier_a_joindre :</span>  <br> {{ archive.fichier }}</p>
        <button id="telecharger-revue" class="bg-gray-800 text-white text-xs m-6 py-2 px-4 mx-2 rounded-lg hover:bg-blue-600 transition">Telecharger</a>
    </div>
    <div class="py-4">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
    </div>

    <div class="space-x-4">
        <a  href="{% url 'home' %}" class="my-4 bg-gray-800 text-white text-xs py-2 px-4 mx-2 rounded-lg hover:bg-blue-600 transition">back</a>
        <a href="{% url 'archive:modifie_archive' archive_id=archive.id %}" class="bg-gray-800 text-white text-xs py-2 px-4 mx-2 rounded-lg hover:bg-blue-600 transition">modifier</a>
        <a href="{% url 'archive:supprime_archive' archive_id=archive.id %}" class="bg-gray-800 text-white text-xs py-2 px-4 mx-2 rounded-lg hover:bg-blue-600 transition">supprimer</a>
    </div>
</div>

{% endblock %}