{% load static %}

<div class="wrapper">

    <header>{{ question.question_text }}</header>
    <div class="poll-area">
        {% for answer in question.answers.all %}
        <div class="flex items-center space-x-4">
          <!-- Texte de l'option -->
          <label class="flex-grow justify-between">
            <input type="checkbox" class="hidden" data-answer="{{ answer.uid }}" />
            <span class="inline-block cursor-pointer select-none">
              {{ answer.answer_text }}-{{ answer.counter }} 
            </span>
          </label>
        </div>
        {% endfor %}
        <!-- Modal Footer -->
        <div class="border-t px-4 py-2 flex justify-end">
            <button x-on:click="open = false" class="px-3 py-1  rounded-md w-full sm:w-auto bg-blue-950 text-white hover:text-blue-950 hover:bg-white transition duration-300 ease-in "> Accept </button>
          </div>
    </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      // Sélectionnez toutes les cases à cocher
      const checkboxes = document.querySelectorAll('input[type="checkbox"]');

      checkboxes.forEach(checkbox => {
          checkbox.addEventListener('change', function () {
              const answerUid = this.dataset.answer;

              // Envoyer une requête AJAX pour mettre à jour le compteur côté serveur
              fetch(`/vote/${answeruid}/`, {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': getCookie('csrftoken'),  // Assurez-vous d'avoir une fonction pour récupérer le jeton CSRF
                  },
                  body: JSON.stringify({
                      action: 'post',
                      question_uid: '{{ question.uid }}',
                      answer_uid: answeruid,
                  }),
              })
              .then(response => response.json())
              .then(data => {
                console.log(data);
                // Mettez à jour l'affichage si nécessaire
                // Par exemple, mettez à jour le nombre de votes affiché à côté de l'option
                const optionElement = document.querySelector(`[data-answer="${answerUid}"]`);
                if (optionElement) {
                  optionElement.nextElementSibling.textContent = data.result;
                }
              })

              .catch(error => console.error('Error:', error));
            });
        });

      // Fonction pour récupérer le jeton CSRF depuis les cookies
      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = cookies[i].trim();
                  if (cookie.substring(0, name.length + 1) === (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
  });
</script>





