{% extends 'base/base.html' %}

{% block content %}


<section class="h-screen flex items-center justify-center">
    <div  class="overflow-auto h-64">
        {% if user.is_authenthicated %}
        <div>     
            <div class="container mx-auto p-8 text-center">
                <p  class="text-black font-semibold block md:inline"> Bienvenu Merci De Vous Connecter</p>
                <a href="{% url 'login' %}" class="px-4 py-3 border-2 shadow-lg bg-white text-black hover:bg-black hover:text-white"> Connexion</a>
                <a href="{% url 'signup' %}" class="px-4 py-3 border-2 shadow-lg bg-white text-black hover:bg-black hover:text-white"> Inscription</a>
            </div>
        </div>
        {% else %}
        <div class="">
            <div class="pb-16 mx-16 ">
                <a href="{% url 'logout' %}" class="px-4 py-3 border-2 shadow-lg bg-white text-black hover:bg-black hover:text-white"> Deconnecter</a>

                <div class="bg-blue-500 text-white p-4 text-5xl mt-2 rounded-lg text-center">
                    <p  class="text-black font-semibold block md:inline"> Bienvenu {{ request.user.username }}</p> sur <br />
                    Zone Bourse  Afridemia
                </div>
                <div class="mt-4 flex space-x-4">
                    
                    <a href="{% url 'bourse:saisie_bourse' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">Saisir Bourse</a>
                    <a href="{% url 'bourse:liste_bourse' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">afficher Bourse pour entite</a>
                    <a href="{% url 'bourse:liste_bourse_admin' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">afficher detail Bourse createur</a>
                    
                </div>

            </div>

            <div class="pb-16 mx-16 ">
                <div class="bg-blue-500 text-white p-4 text-5xl mt-2 rounded-lg text-center">
                    <p  class="text-black font-semibold block md:inline"> Bienvenu {{ request.user.username }}</p> sur <br />
                    Zone Archive  Afridemia
                </div>
                <div class="mt-4 flex space-x-4">
                    <a href="{% url 'archive:saisie_archive' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">Saisir Archive</a>
                    <a href="{% url 'archive:liste_archive' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">afficher Archive pour entite</a>        
                    <a href="{% url 'archive:liste_archive_admin' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">afficher Archive pour Admin</a>        
                </div>
            </div>

            <div class="pb-16 mx-16 ">
                <div class="bg-blue-500 text-white p-4 text-5xl mt-2 rounded-lg text-center">
                    <p  class="text-black font-semibold block md:inline"> Bienvenu {{ request.user.username }}</p> sur <br />
                    Zone Event Afridemia
                </div>
                <div class="mt-4 flex space-x-4">
                    
                    <a href="{% url 'event:saisir_event' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">Saisir Event</a>
                    <a href="{% url 'event:list_event' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">afficher Event pour entite</a>        
                    <a href="" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">afficher event pour Admin</a>        
                </div>
            </div>

            <div class="pb-16 mx-16 ">
                <div class="bg-blue-500 text-white p-4 text-5xl mt-2 rounded-lg text-center">
                    <p  class="text-black font-semibold block md:inline"> Bienvenu {{ request.user.username }}</p> sur <br />
                    Zone Sondage 1.0 Afridemia
                </div>
                <div class="mt-4 flex space-x-4">
                    
                    <a href="{% url 'sondages:create' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">Creer Sondage</a>
                    <a href="{% url 'sondages:index' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">liste des Sondages</a>       
                </div>
            </div>

            <div class="pb-16 mx-16 ">
                <div class="bg-blue-500 text-white p-4 text-5xl mt-2 rounded-lg text-center">
                    <p  class="text-black font-semibold block md:inline"> Bienvenu {{ request.user.username }}</p> sur <br />
                    Zone Sondage 1.1 Afridemia
                </div>
                <div class="mt-4 flex space-x-4">
                    
                    <a href="{% url 'question:create_poll' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">Creer Sondage</a>
                    <a href="{% url 'question:liste_sondage_admin' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">liste des Sondages admin</a>       
                    <a href="" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">liste des Sondages entite</a>       
                </div>
            </div>

            <div class="pb-16 mx-16 ">
                <div class="bg-blue-500 text-white p-4 text-5xl mt-2 rounded-lg text-center">
                    <p  class="text-black font-semibold block md:inline"> Bienvenu {{ request.user.username }}</p> sur <br />
                    le sondage 1.2 Afridemia
                </div>
                <div class="mt-4 flex space-x-4">
                    
                    <a href="{% url 'my_question:create_poll_index' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">Creer Sondage</a>
                    <a href="{% url 'my_question:liste_sondage_admin_index' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">Sondages admin</a>       
                    <a href="" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">Sondages entite</a>       
                </div>
            </div>

            <div class="pb-16 mx-16 ">
                <div class="bg-blue-500 text-white p-4 text-5xl mt-2 rounded-lg text-center">
                    <p  class="text-black font-semibold block md:inline"> Bienvenu {{ request.user.username }}</p> sur <br />
                    Revue Scientifique Afridemia
                </div>
                <div class="mt-4 flex space-x-4">
                    
                    <a href="{% url 'science:saisir_revue' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">Creer Une revue</a>
                    <a href="" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">liste des revue admin</a>       
                    <a href="{% url 'science:list_revue' %}" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">liste des revue entite</a>       
                </div>
            </div>

            <div class="pb-16 mx-16 ">
                <div class="bg-blue-500 text-white p-4 text-5xl mt-2 rounded-lg text-center">
                    <p  class="text-black font-semibold block md:inline"> Bienvenu {{ request.user.username }}</p> sur <br />
                    Zone Agenda scolaire Afridemia
                </div>
                <div class="mt-4 flex space-x-4">
                    
                    <a href="" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">Creer Sondage</a>
                    <a href="" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">liste des Sondages admin</a>       
                    <a href="" class="mt-4 text-black  px-4 py-2 border duration-300 rounded-lg hover:shadow-lg">liste des Sondages entite</a>       
                </div>
            </div>

        </div>                    
        {% endif %}
    </div>
</section>
{% endblock %}

