{% extends 'base/base.html' %}

{% block title %}Detail de la event{% endblock %}

{% block content %}

<div class="my-16 py-16 px-16">
    <div class="bg-blue-500 text-white p-4 font-bold text-4xl text-center ">
        {{ event.categorie }} par {{ event.oganisateur }}
    </div>
  
    <p class="bg-gray-500 mt-2 p-3"> <span class="font-bold text-3xl">  Evenement :</span> <br>{{ event.type_event }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   description : </span> <br>{{ event.description }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   format de l'evenement  : </span> <br>{{ event.format_event }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   Date : </span> <br>{{ event.date_debut }} - {{ event.date_fin }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   Heure : </span> <br>{{ event.date_heure_debut }} - {{ event.date_heure_fin }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   billet : </span> <br>{{ event.billet }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   fuseau horaire : </span> <br>{{ event.fuseau_horaire }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   intervenant : </span> <br>{{ event.intervenant }}</p>

    <div class="space-x-4 mt-4">
        <a  href="{% url 'home' %}" class="my-4 bg-gray-800 text-white text-xs py-2 px-4 mx-2 rounded-lg hover:bg-blue-600 transition">back</a>
        <a  href="{% url 'event:modifie_event' event_id=event.id %}" class="my-4 bg-gray-800 text-white text-xs py-2 px-4 mx-2 rounded-lg hover:bg-blue-600 transition">Modifier</a>
        <a  href="{% url 'event:supprime_event' event_id=event.id %}" class="my-4 bg-gray-800 text-white text-xs py-2 px-4 mx-2 rounded-lg hover:bg-blue-600 transition">Supprimer</a>
        {% if event %}
        <a href="{% url 'event:list_participant' event_id=event.id %}" class="my-4 bg-gray-800 text-white text-xs py-2 px-4 mx-2 rounded-lg hover:bg-blue-600 transition">afficher les postulants</a>
        {% endif %}
    </div>
</div>

{% endblock %}