{% extends 'base/base.html' %}

{% block title %}Detail de la event{% endblock %}
{% load tailwind_filters %}
{% block content %}

<div class=" my-16 py-16 px-16">
    <div class="bg-blue-500 text-white p-4 font-bold text-4xl text-center ">
        Evenement {{ event.categorie }} par {{ event.organisateur }}
    </div>
  
    <p class="bg-gray-500 mt-2 p-3"> <span class="font-bold text-3xl">  Evenement :</span> <br>{{ event.type_event }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   description : </span> <br>{{ event.description }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   format de l'evenement  : </span> <br>{{ event.format_event }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   Date : </span> <br>{{ event.date_debut }} - {{ event.date_fin }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   Heure : </span> <br>{{ event.date_heure_debut }} - {{ event.date_heure_fin }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   billet : </span> <br>{{ event.billet }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   fuseau horaire : </span> <br>{{ event.fuseau_horaire }}</p>
    <p class="bg-gray-500 p-3"> <span class="font-bold text-3xl">   intervenant : </span> <br>{{ event.intervenant }}</p>

    <div class="space-x-4">
        <div class="flex">
            <a href="{% url 'event:saisir_participant' event_id=event.id %}" class="my-4 bg-gray-800 text-white text-xs py-2 px-4 mx-2 rounded-lg hover:bg-blue-600 transition"> saisir postulant</a>
            <a  href="{% url 'event:list_event' %}" class="my-4 bg-gray-800 text-white text-xs py-2 px-4 mx-2 rounded-lg hover:bg-blue-600 transition">back</a>
            <div class="flex">
                <span class="" id="like_count">{{event.number_like}}</span>
                <button class="like-btn pl-4" id="like-button" value="{{event.id}}">
                    <svg width="1.5em" height="1.5em" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 14V20M8 20L4 20V9.99998H8L13.1956 3.93847C13.6886 3.3633 14.4642 3.11604 15.1992 3.29977L15.2467 3.31166C16.5885 3.64711 17.1929 5.21057 16.4258 6.36135L14 9.99998H18.5604C19.8225 9.99998 20.7691 11.1546 20.5216 12.3922L19.3216 18.3922C19.1346 19.3271 18.3138 20 17.3604 20M8 20H12" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>


    <div class="py-4">
        <h3>
            <span id="total-commentaires">
                {% with commentaire_event.count as total_commentaire %}
                    {{ total_commentaire }}
                {% endwith %}
            </span>
            commentaire{{ total_commentaire|pluralize }}
        </h3>
    
        <!-- liste_commentaires.html -->
        <div id="commentaires">
            {% for comment in commentaire_event %}
                <div class="">
                    <p><strong>{{ comment.auteur }}</strong> - {{ comment.date }}</p>
                    <p>{{ comment.contenu }}</p>
                </div>
            {% endfor %}
        </div>
    
        <!-- Formulaire pour ajouter un commentaire -->
        <form id="comment-form" method="POST" action="{% url 'event:ajouter_commentaire_event' event_id=event.id %}">
            {% csrf_token %}
            {{ comment_event_form | crispy }}
            <button type="submit" class="py-4 border-2 bg-slate-400">Ajouter un commentaire</button>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- template.html -->
<script>
    $(document).ready(function() {
        $('#comment-form').submit(function(event) {
            event.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            var formData = form.serialize();

            $.ajax({
                type: 'POST',
                url: url,
                data: formData,
                success: function(response) {
                    if (response.success) {
                        chargerCommentaires();
                        form.trigger('reset');
                    } else {
                        alert('Erreur lors de l\'ajout du commentaire. Veuillez vérifier vos données.');
                    }
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ': ' + xhr.responseText);
                }
            });
        });

    function chargerCommentaires() {
        var eventId = '{{ event.id }}';
        $.ajax({
            type: 'GET',
            // Ajoutez une chaîne de requête aléatoire pour éviter la mise en cache
            url: '{% url "event:liste_commentaires" event_id=event.id %}?rand=' + Math.random(),
            success: function(response) {
                $('#total-commentaires').text(response.comments.length);
                $('#commentaires').empty(); // Nettoyez le contenu actuel
                $.each(response.comments, function(index, comment) {
                    var newComment = '<div class=""><p><strong>' + comment.auteur + '</strong> - ' + comment.date + '</p><p>' + comment.contenu + '</p></div>';
                    $('#commentaires').append(newComment);
                });
            },
            error: function(xhr, errmsg, err) {
            console.log(xhr.status + ': ' + xhr.responseText);
            }
        });
    }

    });

    $(document).on('click', '#like-button', function(e) {
    e.preventDefault();
    $.ajax({
        type: 'POST',
        url: '{% url "event:event_like" %}',
        data: {
            eventId: $('#like-button').val(),  // Utilisez # au lieu de $
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            action: 'post'
        },
        success: function (json) {
            document.getElementById("like_count").innerHTML = json['result'];
        },
        error: function (xhr, errmsg, err) {
            console.log(xhr.status + ': ' + xhr.responseText);
        }
    });
});

</script>

{% endblock %}

