{% extends 'base/base.html' %}

{% block content %}
<div class="px-16">
    <h2 class="bg-blue-500 text-white p-4 font-bold text-4xl text-center">Liste des Participants</h2>
    {% if not participant %}
        <div class="p-20 bg-white w-fit rounded-md flex-col text-center text-black m-auto">
            <i class="fa-solid fa-book text-blue-950 text-7xl"></i>
            <p class="mt-2 p-2 rounded-md text-md text-center">
                Aucun participant
            </p>
        </div>
    {% else %}
        <table class="w-full">
            <thead>
                <tr>
                    <th class="py-2">nom</th>
                    <th class="py-2">Email</th>
                    <th class="py-2">contenu</th>
                    <th class="py-2">date_creation</th>
                </tr>
            </thead>
            <tbody>
                {% for part in participant %}
                    <tr class="align-center">
                        <td class="py-2">{{ part.nom }}</td>
                        <td class="py-2">{{ part.email }}</td>
                        <td class="py-2">{{ part.contenu }}</td>
                        <td class="py-2">{{ part.date_creation }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}
    <div class="my-4 space-x-3">
        <a href="{% url 'event:details_event_admin' event_id=event.id  %}" class="my-4 bg-gray-800 text-white text-xs py-2 px-4 mx-2 rounded-lg hover:bg-blue-600 transition">Retour</a>
    </div>
</div>
    
{% endblock %}
