
{% extends 'base/base.html' %}

{% load widget_tweaks %}

{% block title %}Créer un sondage{% endblock %}

{% block content %}

<div class="grid grid-cols-12">
    <div class="col-span-8 mx-auto">
        <div class="bg-white shadow-md p-4">
            <div class="bg-gray-200 p-4">
                <h3 class="text-lg font-semibold">Créer un nouveau sondage</h3>
            </div>
                
            <form method="POST">
                {% csrf_token %}
                <div class="p-4">
                    <div class="grid grid-cols-12">
                        <div class="col-span-12">
                            <div class="form-group">
                                <label for="question">Entrez la question du sondage</label>
                                {% render_field form.question rows="3" class="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-4">
                            <div class="form-group">
                                <label for="option1">Option 1</label>
                                {% render_field form.option_one class="form-control" %}
                            </div>
                        </div>
                        <div class="col-span-4">
                            <div class="form-group">
                                <label for="option2">Option 2</label>
                                {% render_field form.option_two class="form-control" %}
                            </div>
                        </div>
                        <div class="col-span-4">
                            <div class="form-group">
                                <label for="option3">Option 3</label>
                                {% render_field form.option_three class="form-control" %}
                            </div>
                        </div>
                    </div>

                    <div class="grid grid-cols-12">
                        <hr class="col-span-full" />
                        <div class="col-span-4">
                            <button type="submit" class="btn btn-info">Soumettre</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


{% endblock %}
