{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


        <!-- <link rel="stylesheet" href="{% static 'css/output.css' %}"> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- calendar -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
</head>
<body>
    <!-- <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex items-center justify-between">
            {% if user.is_authenticated %}
                <div class="text-white text-xl font-semibold">Afridemia</div>
                <div class="hidden md:flex space-x-4">
                    <a href="" class="text-white">Accueil</a>
                    
                    <a href="#" class="text-white">À Propos</a>
                    <a href="#" class="text-white">Contact</a>
                    <a class="hidden lg:inline-block py-2 px-6 bg-black text-white duration-300 hover:bg-transparent hover:text-black hover:shadow-lg rounded-lg" href="{% url 'logout' %}">deconnexion</a>

                </div>
            {% else %}

            <div class="text-white text-xl font-semibold">Afridemia</div>
            <div class="hidden md:flex space-x-4">
                <a href="" class="text-white">Accueil</a>
                
                <a href="#" class="text-white">À Propos</a>
                <a href="#" class="text-white">Contact</a>
                <a class="hidden lg:inline-block py-2 px-6 bg-black text-white duration-300 hover:bg-transparent hover:text-black hover:shadow-lg rounded-lg" href="{% url 'login' %}">Connexion</a>

            </div>
            {% endif %}

            <div class="md:hidden">
                Bouton pour afficher/masquer la navigation sur les petits écrans 
                <button id="mobile-menu-button" class="text-white focus:outline-none">
                    <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
        </div>
        Menu mobile 
        <div id="mobile-menu" class="md:hidden hidden bg-gray-700 p-4">
            <a href="" class="text-white">Accueil</a>
            
            

            <a href="" class="text-white">afficher Bourse</a>

            
        </div>
    </nav> -->
    {% block content %}{% endblock %}
    
</body>
</html>